

.image-modal {
  background-image: url(images/df91b617ee90d6e829d46a02b68192a91cea73a0.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}