body {
    font-family: "Changa One", sans-serif;
    margin: 0;
}

/*BACKGROUND*/
#background {
  background-image: url(images/56d8144cbded6b64756f769dfd17493fdca80df2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1; /*isto é tipo fazer 'send to back' d imagem no illustrator*/

}

/*TÍTULO*/
.titulo-container {
  position: relative;
  height: 100vh; /*para o container ocupar a altura total da viewport*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.titulo {
  color: white;
  font-family: "Josefin Slab", sans-serif;
  position: absolute;
  text-align: center;
  margin: 0;
  transform: translateZ();
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}

/*NAVBAR*/
.nav-link {
  color: #1e1e1e;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  background-color: white; 
  /* display: flex;    ISTO NÃO ESTÁ A FUNCIONAR, TEM DE IR PARA A DIREITA!
  justify-content: flex-end; */
}

.navbar {
  z-index: 3;
  position: absolute;
}

/*ISTO NÃO ESTÁ A FUNCIONAR*/
.container-fluid {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}


/*SECTION TRABALHOS REMOTOS*/
.trabalhos-remotos {
  height: 816px;
  background-color: #b49b2c;
  /* opacity: 25%; */
  border-style: dashed;
  border-color: black;
}

.flex-jobs {
  border-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  height: 400px;
  margin-top: 204px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lado-esquerdo {
  border-style: solid;
  border-color: blue;
  font-family: "Jura", sans-serif;
  font-size: 43px;
  width: 500px; /*esta medida está diferente do layout*/
  height: 152px;
  /* padding: 20px; */
}

.frase {
  text-align: justify;
  letter-spacing: 3.2px;
}

.lado-direito {
  border-style: solid;
  border-color: green;
  font-family: "Jura", sans-serif;
  font-size: 20px;
}

.titulo-jobs {
  font-size: 30px;
  font-style: bold;
}








/* 
.lista-jobs {

}

.lista-jobs2 {

} */
























/*
body {
    font-family: "Changa One", sans-serif;
    margin: 0; /*ver o que significa margin 0
}

======MAIN======

main {
    padding: 0;
    box-sizing: border-box;
}

.image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; sends the image to the back
    overflow: hidden;
}

.image img {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100vw;
    width: 100vh;
    object-fit: cover;
    display: block;
}

h1 {
    font-family: "Josefin Slab", sans-serif;
}

.titulo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}
*/










/*Para font jura*/
/*
.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/

/*
.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/*para font josefin slab*/
/*
.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/

/*
.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*
.josefin-slab-<uniquifier> {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/